[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 10px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-offset-1 {
  margin-left: 8.33%;
}

.col-offset-2 {
  margin-left: 16.66%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33%;
}

.col-offset-5 {
  margin-left: 41.66%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33%;
}

.col-offset-8 {
  margin-left: 66.66%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33%;
}

.col-offset-11 {
  margin-left: 91.66%;
}

.col-offset-12 {
  margin-left: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.sidenav_main {
  border-bottom: 1px solid #333333;
}

.sidenav_main li {
  display: inline-block;
  font-size: 14px;
  width: 100%;
  height: 40px;
  position: relative;
}

.sidenav_main li:before {
  background: #f58220;
  content: "";
  display: inline-block;
  height: 40px;
  left: 0;
  width: 4px;
  display: none;
  position: absolute;
}

.sidenav_main ul {
  padding: 0;
  text-align: left;
}

.sidenav_main a {
  padding: 10px 25px;
  display: inline-block;
  color: #9a9a9a;
  text-decoration: none;
}

.sidenav_main li:active:before {
  display: inline-block;
}

.sidenav_main li:hover {
  background: #333;
}

.sidenav_manager {
  display: flex;
  flex-direction: column;
}

.sidenav_manager .manager {
  font-size: 14px;
  color: #9a9a9a;
  margin-left: 20px;
  margin-top: 26px;
  margin-bottom: 15px;
}

.sidenav_manager .picture_manager {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-left: 20px;
  object-fit: cover;
}

.sidenav_manager .manager_name {
  color: #569c9f;
  align-self: center;
  position: absolute;
  margin-left: 40%;
}

.navigation_manager {
  display: flex;
  align-items: center;
  position: relative;
}

.navigation_manager:after {
  content: "";
  background-color: green;
  color: green;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  margin-left: 55px;
  margin-top: -15px;
}

.topnav {
  height: 60px;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  text-align: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  background: #fff;
  max-width: 1300px;
}

.topnav li {
  font-size: 14px;
  height: 60px;
  border-left: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0 12px;
}

.topnav .money {
  width: 160px;
  display: flex;
}

.topnav .person {
  width: 160px;
  display: flex;
}

.topnav .alert {
  width: 60px;
  display: flex;
  position: relative;
}

.topnav .alert:after {
  content: "";
  border-radius: 50%;
  background-color: orange;
  height: 10px;
  width: 10px;
  margin-bottom: 13px;
  position: absolute;
  margin-left: 6px;
  margin-top: -6px;
}

.topnav .quit {
  width: 60px;
  display: flex;
}

.topnav ul {
  display: flex;
}

.icon {
  display: none;
  height: 14px;
  width: 14px;
  position: relative;
  margin-right: 15px;
}

.line:hover .icon {
  display: inline-block;
}

.icon-top {
  height: 20px;
  width: 20px;
}

.topnav_money {
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
  color: #9a9a9a;
}

.topnav_person {
  font-size: 14px;
  margin-right: 5px;
  margin-left: 5px;
  color: #56819f;
}

.sidenav {
  position: fixed;
  background-color: black;
  width: 188px;
  height: 100%;
  z-index: 2;
}

.logo {
  font-family: 'Roboto';
  color: white;
  font-size: 24px;
}

.fas {
  color: #9a9a9a;
  margin-left: 15px;
  font-size: 24px;
}

.sidenav_header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 60px;
  text-align: center;
}

/* General site */
.general_content_frame {
  background-color: #f5f5f5;
  width: calc(100% - 188px);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-right: 1px solid #e3e3e3;
  margin-left: auto;
  padding-top: 60px;
}

.general_content {
  background-color: #fff;
  width: 100%;
  margin: 10px;
  border: 1px solid #e3e3e3;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  color: #9a9a9a;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.125);
  flex-direction: column;
}

.general_time {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #9a9a9a;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e3e3e3;
}

.general_header {
  border-bottom: 1px solid #e3e3e3;
}

.general_header h1 {
  margin-left: 1%;
}

input {
  padding: 0;
}

.input_left {
  width: 150px;
  height: 40px;
}

.input_right {
  width: 170px;
  height: 40px;
}

.refresh_button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #f58220;
  margin-left: 10px;
}

.calendar_icon {
  width: 15px;
  position: absolute;
  margin-left: 120px;
}

.first_ln {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4%;
  height: 30px;
}

.visit {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e3e3e3;
  width: 300px;
  justify-content: space-between;
}

.net {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e3e3e3;
  width: 300px;
  margin-left: 3%;
  justify-content: space-between;
}

.second_ln {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4%;
  height: 30px;
}

.ftd {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e3e3e3;
  width: 300px;
  justify-content: space-between;
}

.turn {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e3e3e3;
  width: 300px;
  margin-left: 3%;
  justify-content: space-between;
}

.chart_name {
  margin-left: 21%;
}

.chart {
  width: 60%;
  height: 60%;
  margin-bottom: 50px;
}

.third_ln {
  display: flex;
  justify-content: center;
}

.links_list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.links_list :hover {
  background: #f1f1f3;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #e3e3e3;
  width: 80%;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.link div {
  font-size: 16px;
  font-weight: bold;
  width: 30%;
}

.link_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 8%;
  margin-left: 15%;
}

.button_add {
  width: 130px;
  height: 40px;
  background-color: #f58220;
  color: #fff;
  font-size: 13px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.link_icons {
  margin-left: 20%;
}

.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.scroll-wrapper table {
  width: 100%;
  max-width: 100%;
}

table {
  width: 100%;
  border-spacing: 0;
  padding: 2%;
  text-align: center;
}

tr {
  height: 60px;
  border-bottom: 1px solid #e3e3e3;
}

.table_content:hover {
  background: #f1f1f3;
}

.table_menu td {
  font-weight: bold;
}

.table_menu td:hover {
  background: #f1f1f3;
  cursor: pointer;
}

.table_menu td:after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../images/arrow-up.svg");
  display: inline-block;
  visibility: hidden;
  background-repeat: no-repeat;
  margin-left: 5%;
}

.table_menu td:hover:after {
  visibility: visible;
}

.table_list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.pagination_arrow {
  width: 20px;
  height: 20px;
}

.pagination_number {
  font-size: 18px;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_number p {
  margin: 0 auto;
}

.pagination_number:hover {
  background-color: #f1f1f3;
}

.name_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  border-bottom: 1px solid #e3e3e3;
}

.personal_ln {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 14px;
}

.personal_description {
  width: 20%;
}

.personal_input_position {
  width: 20%;
  height: 40px;
}

.personal_input {
  height: 40px;
  width: 300px;
  padding: 10px;
}

.postback_description {
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.postback_textarea {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.postback_signup_container textarea {
  width: 500px;
  height: 180px;
}

.postback_deposit_container textarea {
  width: 500px;
  height: 180px;
}

.postback_text {
  margin-bottom: 2%;
  font-weight: bold;
}

.postback_text_select {
  margin: 12% 0;
  font-weight: bold;
}

.postback_select select {
  width: 300px;
  height: 40px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  font-size: 14px;
  display: block;
  border-radius: 0;
  margin-bottom: 40px;
  padding-left: 10px;
}

.postback_choice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.postback_checkbox_area {
  width: 50%;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  height: 100%;
  overflow: scroll;
}

.postback_checkbox_area .postback_title {
  margin-left: 20px;
  font-weight: bold;
}

.postback_checkbox_area .postback_not {
  color: red;
}

.postback_checkbox_area input {
  display: block;
}

.postback_checkbox_area p {
  display: block;
}

.postback_scroll_area {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  height: 100%;
  flex-direction: column;
}

.button_pixel {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}

.postback_checkbox {
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.postback_checkbox input {
  margin-left: 30px;
  height: 30px;
  width: 30px;
}

.postback_checkbox p {
  margin: 0;
}

.postback_title_range {
  display: block;
  margin-left: 20px;
  font-weight: bold;
}

.postback_range {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postback_range_numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  padding-left: 2.5%;
  padding-right: 2.5%;
  height: 25px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 95%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 95%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #f58220;
}

input[type=range]::-webkit-slider-thumb {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #f58220;
  height: 0px;
  width: 0px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */