$paragraph-color: #000000;
$brand-main-color: #ff0000;
$paragraph-font-size: 16px;
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$line-color: rgb(227, 227, 227);
$menu-color: rgb(154, 154, 154);
$person-color: rgb(86, 129, 159);