* {
	box-sizing: border-box;
}

.row:before,
.row:after {
    content: " "; 
    display: table; 
}

.row:after {
    clear: both;
}

ul {
	font-size: 0;
}

.sidenav_main {
	li {
	display: inline-block;
	font-size: 14px;
	width: 100%;
	height: 40px;
	}

	li:before {
	background: #f58220;
    content: "";
    display: block;
    height: 40px;
    left: 0;
    width: 4px;
	}
	ul {
		padding: 0;
		text-align: left;
	}
	a {
		padding: 10px 25px;
		display: block;
		color: rgb(129, 129, 129);
		text-decoration: none;
	}
	li:hover {
		background: #333;
	}
}

.icon {
 	display: inline-block;
	height: 14px;
	width: 14px;
	position: relative;
	margin-right: 15px;
 }

.container {
	max-width: 1300px;
}

.sidenav {
	position: fixed;
	background-color: black;
	width: 188px;
	height: 100%;
}

.logo {
  family-font: 'Crisp';
  position: absolute;
  height: 16px;
}

.topnav a {
	display: inline-block;
	float: right;
	height: 60px;
}

.menu {
	width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    margin-left: 80px;
}