.name_content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.personal_ln {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}