.name_content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px 0;
	border-bottom: 1px solid $line-color;
}

.personal_ln {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-bottom: 14px;
}

.personal_description {
	width: 20%;
}

.personal_input_position {
	height: 40px;
}

.personal_input {
	height: 40px;
	width: 300px;
	padding: 10px;;
}