.postback_description {
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 3%;
}

.postback_textarea {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.postback_signup_container textarea {
	width: 500px;
	height: 180px;
}

.postback_deposit_container textarea {
	width: 500px;
	height: 180px;
}

.postback_text {
	margin-bottom: 2%;
	font-weight: bold;
}

.postback_text_select {
	margin: 12% 0;
	font-weight: bold;
}

.postback_select select {
	width: 300px;
	height: 40px;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-color: #ffffff;
   border: 1px solid $line-color;
   font-size: 14px;
   display: block;
   border-radius: 0;
   margin-bottom: 40px;
   padding-left: 10px;
}

.postback_choice {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
}

.postback_checkbox_area {
	width: 50%;
	border-top: 1px solid $line-color;
	border-bottom: 1px solid $line-color;
	height: 100%;
	overflow: scroll;

	.postback_title {
		margin-left: 20px;
		font-weight: bold;
	}

	.postback_not {
		color: red;
	}

	input {
	display: block;
	}

	p {
		display: block;
	}
}

.postback_scroll_area {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid $line-color;
	border-bottom: 1px solid $line-color;
	border-left: 1px solid $line-color;
	height: 100%;
	
}

.button_pixel {
	margin: 20px;
	display: flex;
	justify-content: flex-end;
}

.postback_checkbox {
	display: flex;
    align-items: center;
    margin-top: 13px;

    input {
    	margin-left: 30px;
    	height: 30px;
    	width: 30px;
    }

    p {
    	margin: 0;
    }
}    